*
  margin 0
  padding 0

body
  font-family -apple-system,Arial,snas-serif
  background #f4f4f4
  padding 2rem

.app
  max-width 600px
  margin 0 auto
  background: white
  padding 2rem
  border-radius 8px
  box-shadow: 0 20px 6px rgba(0, 0, 0, 0.7)

.herder
  text-align center